[
    {
        "domain": ".x.com",
        "expirationDate": 1762708224.573781,
        "hostOnly": false,
        "httpOnly": true,
        "name": "auth_token",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "your auth token, get all these values from a cookie exporter or just from a network request" !!! !!! !!!
    },
    {
        "domain": ".x.com",
        "expirationDate": 1759684200.152695,
        "hostOnly": false,
        "httpOnly": false,
        "name": "guest_id",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": ""
    },
    {
        "domain": ".x.com",
        "expirationDate": 1767311430.982603,
        "hostOnly": false,
        "httpOnly": false,
        "name": "twid",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": ""
    },
    {
        "domain": ".x.com",
        "hostOnly": false,
        "httpOnly": true,
        "name": "_twitter_sess",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": true,
        "storeId": null,
        "value": ""
    },
    {
        "domain": ".x.com",
        "expirationDate": 1767311426.19774,
        "hostOnly": false,
        "httpOnly": false,
        "name": "night_mode",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": ""
    },
    {
        "domain": ".x.com",
        "expirationDate": 1762708224.692029,
        "hostOnly": false,
        "httpOnly": false,
        "name": "ct0",
        "path": "/",
        "sameSite": "lax",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": ""
    },
    {
        "domain": ".x.com",
        "expirationDate": 1743700193.002352,
        "hostOnly": false,
        "httpOnly": false,
        "name": "d_prefs",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": ""
    },
    {
        "domain": ".x.com",
        "expirationDate": 1766556844.24574,
        "hostOnly": false,
        "httpOnly": false,
        "name": "dnt",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": ""
    },
    {
        "domain": ".x.com",
        "expirationDate": 1770335423.627802,
        "hostOnly": false,
        "httpOnly": false,
        "name": "guest_id_ads",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": ""
    },
    {
        "domain": ".x.com",
        "expirationDate": 1770335423.627863,
        "hostOnly": false,
        "httpOnly": false,
        "name": "guest_id_marketing",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": ""
    },
    {
        "domain": ".x.com",
        "expirationDate": 1762708224.573683,
        "hostOnly": false,
        "httpOnly": true,
        "name": "kdt",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": ""
    },
    {
        "domain": ".x.com",
        "expirationDate": 1765481258.762759,
        "hostOnly": false,
        "httpOnly": false,
        "name": "personalization_id",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": ""
    }
]